.App {
    padding: 1rem;

    @include breakpoint('md') {
        margin: 0 auto;
        max-width: 60rem; // 960px
        padding: 1rem 2rem;
    }

    &__title {
        @extend %font-large;
        color: $color-white-transparent;
        margin: 1rem 0;
    }
}
