.Record {
    animation: appear .8s;
    animation-fill-mode: forwards;
    opacity: 0;
    padding-bottom: 1rem;
    transition: background-color $transition;

    &:hover {
        @include breakpoint('lg') {
            background-color: rgba($color-black-transparent, .1);
        }
    }
    
    // abusing hardcoded amount of results per page
    @for $i from 1 through 25 {
        &:nth-of-type(#{$i}) {
            animation-delay: #{$i % 10 * .1s};
        }
    }

    &__row {
        display: flex;

        &--header {
            background-color: $color-white-transparent;
            color: $color-gray;
            margin-bottom: .5rem;
        }

        &--date {
            @extend %font-small;
            color: $color-white-transparent;
        }
    }

    &__cell {
        flex: 1 1 auto;
        padding: .5rem .75rem;

        &--label {
            flex: 0 1 5rem;
        }

        &--link {
            transition: color $transition;

            &:hover {
                color: $color-green;
            }
        }
    }

    &__icon {
        color: $color-blue;
        display: inline-block;
        font-size: .75rem;
        font-weight: bold;
        margin-left: .375rem;
        vertical-align: middle;
    }

    &__title {
        font-weight: bold;
        padding: .5rem .75rem;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(4rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}