.App {
    padding: 1rem;

    @include breakpoint('md') {
        margin: 2rem auto;
        max-width: 60rem; // 960px
    }

    &__header {
        margin-bottom: 2rem;

        @include breakpoint('md') {
            display: inline-block;
        }
    }

    &__title {
        @extend %font-large;
        opacity: .7;
    }
}