/* Colors */

$color-white: #fff;
$color-green: #25c481;
$color-blue: #3ac5e9;

/* Breakpoints */

$md: 768px;  // min-width: 768px
$lg: 1024px; // min-width: 1024px


/* Fonts */

$font-family: Helvetica, Arial;